.label {
    display: flex;
    align-items: center;

    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
}

.checkbox {
    appearance: none;

    width: 18px;
    height: 18px;

    margin: 0 12px 0 0;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;

    vertical-align: middle;

    border-radius: 3px;
    border: 2px solid #06c;

    cursor: pointer;
}

.checkbox:checked {
    appearance: none;

    background-image: url('checked.svg');
}

.checkbox:focus {
    border-color: #0059b3;
    outline: none;
}

.spanClassName {
    font-family: 'Montserrat', sans-serif;
    color: #06c;
}