.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 20px;
}

.buttons {
   display: flex;
    flex-direction: column;
    gap: 24px;

    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: 30px;
}
